html {
  background-color: #121212;
  color: rgb(99, 95, 168);
  font-family: "Fira Code", monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#time {
  text-align: center;
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  color: #333333;
  z-index: -2;
}

#clock-face {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 23em;
  height: 23em;
  border: 1.5em solid rgb(27, 26, 46);
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}

.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform-origin: 0% 50%;
  border-radius: 1rem;
}

.animate-ease-in-out {
  transition: all 0.05s;
  transition-timing-function: ease-in-out;
}

.hour {
  width: 5rem;
  height: 0.4rem;
  background-color: rgb(255, 82, 82);
  transform: rotate(20deg);
}

.minute {
  width: 7rem;
  height: 0.3rem;
  background-color: rgb(255, 196, 161);
}

.second {
  width: 8rem;
  height: 0.2rem;
  background-color: rgb(101, 250, 255);
  transition-timing-function: cubic-bezier(0, 3.13, 0.04, 1.06);
}

.animate-tick {
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0, 3.13, 0.04, 1.06);
}

.clock-ticks {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.clock-tick {
  font-size: 1.5rem;
  position: absolute;
  display: block;
}

.hr12 {
  top: 0.4rem;
  left: 0;
  right: 0;
  text-align: center;
}

.hr6 {
  bottom: 0.4rem;
  left: 0;
  right: 0;
  text-align: center;
}

.hr9 {
  bottom: 50%;
  top: 45%;
  left: 0.6rem;
  vertical-align: middle;
}

.hr3 {
  bottom: 50%;
  top: 45%;
  right: 0.6rem;
  vertical-align: middle;
}

.clock-dots {
  width: 100%;
  height: 100%;
  position: absolute;
}

.clock-dots > .clock-dot:nth-child(1) {
  position: absolute;
  display: block;
  right: 27%;
  top: 10%;
  bottom: 0;
}

.clock-dots > .clock-dot:nth-child(2) {
  display: block;
  position: absolute;
  right: 11%;
  top: 25.5%;
  bottom: 0;
}

.clock-dots:nth-child(2) {
  transform: scaleY(-1);
}

.clock-dots:nth-child(3) {
  transform: scaleX(-1);
}

.clock-dots:nth-child(4) {
  transform: scaleX(-1);
  transform: rotateZ(-180deg);
}
